
<script>
    alert('{{Ingrese una imagen para predecir}}')
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacion</title>
    <style>
    .avatar-pic {
        width: 250px;
        }
        form{
            margin-left: 35%;
            margin-top: 10%;
        }
    </style>

</head>
<body>
<h1>Ingresar imagen a predecir </h1>
<form action="/apiSNN/predecir/" method="post">

        <div class="file-field">
          <div class="mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
              class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>Agregar foto</span>
              <input type="file">
            </div>
          </div>
        </div>
    <p><input type="submit" value="PREDECIR"></p>
</form>
</body>
</html>